@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

:root {
  font-family: serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Archivo Black", sans-serif;
}

button {
  border-radius: 0;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.calc-card {
  border-radius: 0;
  background-color: #403f3f;
  color: #ffffff;
}
label {
  font-family: serif;
}
input,
select {
  border-radius: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #403f3f;
  font-family: "Archivo Black", sans-serif;
}

hr {
  border-top: 1px #403f3f solid;
  opacity: 0.75;
}

.error-message {
  color: #ff0000;
}

.calculator-wrapper {
  color: #403f3f;
  border: 1px solid #403f3f;
  text-align: center;
  padding: 1rem 3rem 3rem;
  min-width: 100%;
  margin: 2rem auto;
}

.stretcher-wrapper {
  text-align: center;
  max-width: 627px;
}

.see-prices-btn {
  background-color: #f26625;
  border-color: #f26625;
  border-radius: 0;
  opacity: 1;
  font-weight: 600;
  font-family: "Archivo Black", sans-serif;
  padding: 0.5rem 37.408px;
  font-size: 1rem;
}

.see-prices-btn:hover {
  background-color: #f26625;
  border-color: #f26625;
  border-radius: 0;
  color: #ffffff;
  opacity: 0.8;
}

.see-prices-btn:active {
  background-color: #f26625 !important;
  border-color: #f26625 !important;
  border-radius: 0;
  color: #ffffff;
  opacity: 1;
}

.stretcher-card {
  border-radius: 0;
  background-color: #403f3f;
  color: #ffffff;
  padding: 0rem 1rem;
}

.card-title {
  margin-right: -2rem;
  margin-left: -2rem;
}

.card-text {
  margin-right: -2rem;
  margin-left: -2rem;
}
